ppx_lustre/_build
ppx_lustre/setup.ml
ppx_lustre/setup.data
ppx_lustre/setup.log
ppx_lustre/examples/led/led.asm
ppx_lustre/examples/led/led.lst
ppx_lustre/examples/led/led.cod
ppx_lustre/examples/led/led.hex
ppx_lustre/examples/led/led
ppx_lustre/ppx_lustre.native

ppx_lustre/examples/abro/*.asm
ppx_lustre/examples/abro/*.lst
ppx_lustre/examples/abro/*.cod
ppx_lustre/examples/abro/*.hex

ppx_lustre/examples/thermo/*.asm
ppx_lustre/examples/thermo/*.lst
ppx_lustre/examples/thermo/*.cod
ppx_lustre/examples/thermo/*.hex

ppx_lustre/examples/coffee/*.asm
ppx_lustre/examples/coffee/*.lst
ppx_lustre/examples/coffee/*.cod
ppx_lustre/examples/coffee/*.hex

ocalustre-clocks2/setup.ml