.DS_Store
_build/
_tags
*~
a.out
example/eeprom.data
example/t.ml
example/thermo
example/thermo.asm
example/thermo_enum
example/thermo_enum.asm
foo.byte
lib/#whyml_printer.ml#
lib/.#whyml_printer.ml
lib/clocker_aux.ml
lib/whyml_printer.ml
lib/whyml_printer.ml~
myocamlbuild.ml
ocalustre.native
setup.data
setup.log
setup.ml